.git
.github
.gitlab-ci.yml
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.editorconfig
.styleci.yml
.ignition.json
README.md
tests
